@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu_bold_pro.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu_regular_pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Slab';
    src: url('../fonts/IosevkaSlab-Regular.ttc') format('truetype-collection');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Regular';
    src: url('../fonts/Iosevka-Bold.ttc') format('truetype-collection');
    font-weight: bold;
    font-style: normal;
}