.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background: white;

  .logo {
    height: 40px;
    width: auto;
  }

  .main-nav {
    ul {
      display: flex;
      list-style: none;
      gap: 10rem;
      margin-right: 3rem;
      padding: 0;

      li a {
        text-decoration: none;
        font-family: "Iosevka Slab", serif;
        font-size: 1.5rem;
        color: black;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $persian_blue;
        }
      }
    }
  }
}