.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15rem auto 4rem;
  max-width: 800px;

  transform: scale(1.2);

  overflow: visible;

  .hero-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    font-family: Iosevka, monospace;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: -0.2rem;
    color: $persian_blue;

    opacity: 0;
    transition: opacity 1s ease;

    .symbol {
      margin-bottom: 4rem;
      transform: scale(1.4);
    }

    h1 {
      margin: 0;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .arrow {
    z-index: 20;
    cursor: pointer;
    position: absolute;
    top: -80%;
    margin-left: 1rem;
    transform: scale(0.15);
  }

  .hero-text-box {
    display: flex;
    align-items: flex-start;
    margin-left: 2.7rem;

    .hero-text {
      font-family: "Apercu", serif;
      font-size: 1.4rem;

      max-width: 600px;
      line-height: 1.5;
      color: #191919;
    }
  }
}