{% extends 'base.html' %}

{% block header %}
<header class="site-header">
    <img
        src="{{ url_for('static', filename='images/dna-icon.svg') }}"
        alt="Gene Knowledge Logo"
        class="logo"
    />

    <nav class="main-nav">
        <ul>
            <li><a href="#">Database</a></li>
            <li><a href="#">Information</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block hero %}
<section class="hero">
    <div class="hero-title">
        <span class="symbol">&gt;</span>
        <h1><strong>Gene knowledge at your fingertips.</strong></h1>
    </div>
</section>
{% endblock %}

{% block gene_info %}
<section class="plot-section">
    <div class="section-container">
        <!-- Main Volcano Plot -->
        <div id="volcano-plot">
            {{ div|safe }}
            {{ script|safe }}
        </div>

        <div id="gene-info-box"></div>
    </div>

    <div class="sentinel"></div>
</section>
{% endblock %}

{% block donor_info %}
<section class="donor-section">
    <!-- Donor Plot -->
</section>
{% endblock %}

{% block file_import_section %}
<section class="file-import-section">
    <div class="import-container">
        <h1>> Want a different data sample? Import <span style="color: #27A127">your own</span>!</h1>

        <div class="form-container">
            <form enctype="multipart/form-data" action="/" method="post">
                <label>
                    <input type="file"/>
                    <img src="/static/images/submit-csv-button.svg"
                        alt="Submit Button SVG" class="submit-csv-button">
                </label>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<section class="footer">
    <div class="footer-container">
        <div class="separator-container">
            <img src="/static/images/footer-separator.svg"
                 alt="Separator SVG" class="footer-separator-icon">
        </div>

        <div class="footer-info-container">
            <div class="footer-title-container">
                <div class="footer-logo">
                    <img src="/static/images/dna-icon.svg"
                        alt="Separator SVG" class="footer-logo-icon">
                </div>

                <div class="footer-title">
                    <h2>Gene</h2>
                    <h2>Knowledge</h2>
                    <h2>©2025</h2>
                </div>
            </div>

            <div class="footer-say-hi-container">
                <div class="footer-say-hi">
                    <h2>Say Hi!</h2>
                </div>

                <div class="footer-email">
                    <h2>alexandru.trifu.urzica@jetbrains.com</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}